{% extends 'base.html.twig' %}

{% block title %}
    Benvenue sur le meilleur réseau  d'appartements
{% endblock %}

{% block body %}
    <div class="container">
        <div class = "jumbotron mt-3">
            <h1 class = "display-3">Bienvenue sur SymBNB ! <h1/>
            <p class = "lead"> Nous mettons en relation des voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant 
            leur bien à la location. </p>
            <hr class = "my-4">
            <p> Vous êtes voyageurs? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement?. </p>
            <p class = "lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Vois nos annonces</a>
            </p>
        </div>
    

        <h2 class="h1 mb-4 mt-3">Nos appartements starts</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong> <br/>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/728×90" alt="Image apparte" style="height:200px; width: 100px;
                    display:block"/>

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>

                        <p class="card-text">
                            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à 
                            titre provisoire pour calibrer une mise en page..
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong> <br/>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/728×90" alt="Image apparte" style="height:200px; width: 100px;
                    display:block"/>

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>

                        <p class="card-text">
                            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à 
                            titre provisoire pour calibrer une mise en page..
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong> <br/>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/728×90" alt="Image apparte" style="height:200px; width: 100px;
                    display:block"/>

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>

                        <p class="card-text">
                            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à 
                            titre provisoire pour calibrer une mise en page..
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mb-4 mt-3">Nos propriétaires stars !</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-bordy">
                        <h4 class="card-title">Lior Chamla</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64×64" alt="Avatar Lior" class="float-left mr-3"/>
                            <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à 
                            titre provisoire pour.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-bordy">
                        <h4 class="card-title">Lior Chamla</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64×64" alt="Avatar Lior" class="float-left mr-3"/>
                            <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à 
                            titre provisoire pour.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}